#header {
  width: 100%;
  text-align: center;
  background-color: skyblue;
  padding: 40px;
  margin-top: 0px;
  word-spacing: 2rem;
  font-size: 300%;
}
.container {
  margin-top: 20px;
}
.search {
  margin-bottom: 20px;
}
.weatherHolder {
  display: flex;
  flex-wrap: wrap;
}
.card1,
.card2,
.card3,
.card4,
.card5,
.card6 {
  margin: 10px !important;
  background-color: rgb(3, 3, 52) !important;
  color: white !important;
  height: 200px;
}
button {
  border-radius: 5px !important;
  background-color: rgb(119, 95, 236) !important;
  color: aliceblue !important;
}
p {
  font-size: 200%;
}
